@charset "utf-8";

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ width: 100%; font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 10px; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */


.imgBox{ flex-direction: column; min-height: 100vh; background-color: #222; padding: 20px; display: flex; align-items: center; justify-content: center; }
.imgBox .passwordDiv{ margin: 10px 0; display: flex; gap: 10px; width: 100%; }
.imgBox .passwordDiv .ipt{ padding: 10px; border: none; flex-grow: 1; }
.imgBox .passwordDiv .submitBtn{ flex-shrink: 0; padding: 10px; font-size: 14px; background-color: #fff; border: none;  }

.img{ display: none; max-width: 100%; }